## Observations and Insights

In [16]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "Resources/mouse_drug_data.csv"
study_results_path = "Resources/clinicaltrial_data.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

mouse_metadata.head()
study_results.head()
# Combine the data into a single dataset
merge_table = pd.merge(study_results, mouse_metadata, how="left", on="Mouse ID")
# Display the data table for preview
merge_table.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

In [17]:
# Checking the number of mice.
merge_table['Mouse ID'].nunique()

249

In [20]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# duplicateRowsDF = merge_table[merge_table.duplicated(['Mouse ID', 'Timepoint'])]
# duplicateRowsDF
duplicate_mouse_ids = merge_table.loc[merge_table.duplicated(subset=['Mouse ID', 'Timepoint']),'Mouse ID'].unique()
duplicate_mouse_ids

array(['g989'], dtype=object)

In [21]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_mouse_data = merge_table.loc[merge_table["Mouse ID"] == "g989"]
duplicate_mouse_data

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites      Drug
107      g989          0           45.000000                 0  Stelasyn
108      g989          0           45.000000                 0  Propriva
138      g989          0           45.000000                 0  Stelasyn
139      g989          0           45.000000                 0  Propriva
331      g989          5           48.786801                 0  Stelasyn
332      g989          5           48.786801                 0  Propriva
363      g989          5           47.570392                 0  Stelasyn
364      g989          5           47.570392                 0  Propriva
624      g989         10           51.745156                 0  Stelasyn
625      g989         10           51.745156                 0  Propriva
686      g989         10           49.880528                 0  Stelasyn
687      g989         10           49.880528                 0  Propriva
821      g989         15           51.325852                 1  Stelasyn
822      g989         15           51.325852                 1  Propriva
876      g989         15           53.442020                 0  Stelasyn
877      g989         15           53.442020                 0  Propriva
958      g989         20           55.326122                 1  Stelasyn
959      g989         20           55.326122                 1  Propriva
1120     g989         20           54.657650                 1  Stelasyn
1121     g989         20           54.657650                 1  Propriva
1205     g989         25           56.045564                 1  Stelasyn
1206     g989         25           56.045564                 1  Propriva
1391     g989         30           59.082294                 1  Stelasyn
1392     g989         30           59.082294                 1  Propriva
1604     g989         35           62.570880                 2  Stelasyn
1605     g989         35           62.570880                 2  Propriva

In [25]:
# Create a clean DataFrame by dropping the duplicate mouse (g989) by its ID.
clean_merge = merge_table[merge_table['Mouse ID'].isin(duplicate_mouse_ids)==False]
clean_merge.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

In [26]:
# Checking the number of mice in the clean DataFrame.
clean_merge['Mouse ID'].nunique()

248

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen